/MVRC_Compare/MVRC_Compare/obj
/MVRC_Compare/MVRC_Compare/bin
/MVRC_Compare/MVRC_Compare.Shared/obj
/MVRC_Compare/MVRC_Compare.Shared/bin
/MVRC_Compare/MVRC_Compare.Web/obj
/MVRC_Compare/MVRC_Compare.Web/bin
/.vs
